.color-black {
    color: $black !important;
  }
  
  .color-black015 {
    color: $black015 !important;
  }
  
  .color-black035 {
    color: $black035 !important;
  }
  
  .color-black05 {
    color: $black05 !important;
  }
  
  .color-black075 {
    color: $black075 !important;
  }
  
  .color-blue {
    color: $blue !important;
  }
  
  .color-green {
    color: $green !important;
  }
  
  .color-red {
    color: $red !important;
  }
  
  .color-orange {
    color: $orange !important;
  }
  
  .color-white {
    color: $white !important;
  }
  
  .color-background {
    background-color: $background-color;
  }
  
  .color-background-lightgrey {
    background-color: #f3f3f3 !important;
  }
  
  .color-background-white {
    background-color: $white !important;
  }
  
  .color-background-blue {
    background-color: $blue !important;
  }
  
  .color-transparent {
    color: rgba($white, 0);
  }
  