table {
  width: 100%;
  max-width: 100%;
  border: 1px solid $table-border-color;
  background-color: $table-bg-color;
  border-collapse: collapse;
  margin-bottom: 0;
  th,
  td {
    padding: $table-cell-padding-md;
    vertical-align: middle;
    border: 1px solid $table-border-color;
  }
  thead {
    th,
    td {
      vertical-align: middle;
      text-align: left;
      border-bottom: 1px solid $table-border-color;
      font-size: $font-size-xs;
      color: $black075;
    }
  }
  tbody {
    font-size: $font-size-sm;
  }
}

.table {
  @extend table;
} // Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-tr-odd;
  }
}

.table-row-select {
  tbody {
    tr:hover {
      background: rgba($blue, 0.5);
      cursor: pointer;
    }
  }
}

// Responsive tables
// Only applies <768px. Everything above that
// will display normally.
@media (max-width: map-get($grid-breakpoints, "md")) {
  .table-responsive {
    width: 100%;
    display: block;
    position: relative;
    >thead {
      display: block;
      float: left;
      >tr {
        display: block;
        >th,
        >td {
          display: flex;
          align-items: center;
          font-size: $font-size-sm;
          min-height: 45px;
        }
      }
    }
    >tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      >tr {
        display: inline-block;
        width: 100%;
        >td {
          display: flex;
          align-items: center;
          font-size: $font-size-sm;
          min-height: 45px;
          overflow-x: overlay;
          input[type="text"],
          input[type="number"] {
            font-size: 1rem;
            padding: 0.35rem 0.5rem;
            width: 100%;
          }
          .datetimepicker,
          datetimepicker {
            input[type="text"] {
              font-size: 1rem;
              padding: 0.35rem 0.5rem;
            }
            .icon {
              padding: 7px;
            }
          }
          dropdown {
            position: absolute;
          }
          &:not {
            >input {
              padding-top: 12px;
            }
          }
          .row {
            width: 100%;
          }
        }
        p {
          margin: 0;
        }
      }
    }
     ::-webkit-scrollbar {
      width: 3px;
    }
     ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }
     :hover::-webkit-scrollbar-track {
      background: #BCBEC0;
      border: thin solid lightgray;
      box-shadow: 0px 0px 3px #dfdfdf inset;
      -webkit-box-shadow: 0px 0px 3px #dfdfdf inset;
      -moz-box-shadow: 0px 0px 3px #dfdfdf inset;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.0);
      border: thin solid rgba(0, 0, 0, 0.0);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }
     :hover::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
      border: thin solid gray;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }
  }
}
