<div class="book-item">
  <!-- <favorite-star [favorited]="book.favorite" (callback)="favoriteBook()"></favorite-star> -->
  <div class="image cursor-pointer" (click)="navigateToBookDetail()">
    <div class="flex-center">
      <book-image [code]="book.bookCode"></book-image>
    </div>
  </div>
  <div class="book-name cursor-pointer" (click)="navigateToBookDetail()">{{book.bookName}}</div>
  <!-- <button class="btn btn-blue width-100-per" (click)="addBookToCart()">Thêm vào giỏ sách</button> -->
</div>
