<section class="margin-bottom-15">
  <div class="tab-section">
    <div [class.active]="selectedTab == borrowReturnBookTab" (click)="selectTab(borrowReturnBookTab)">Mượn sách - Trả sách</div>
    <div [class.active]="selectedTab == bookManagementTab" (click)="selectTab(bookManagementTab)">Quản lý sách</div>
    <div [class.active]="selectedTab == categoryTab" (click)="selectTab(categoryTab)">Danh mục</div>
    <div [class.active]="selectedTab == publisherManagementTab" (click)="selectTab(publisherManagementTab)">Quản lý NXB</div>
    <div [class.active]="selectedTab == supplierManagementTab" (click)="selectTab(supplierManagementTab)">Quản lý NPH</div>
    <div [class.active]="selectedTab == libraryManagementTab" (click)="selectTab(libraryManagementTab)">Quản lý kho sách</div>
    <div [class.active]="selectedTab == reportTab" (click)="selectTab(reportTab)">Báo cáo/ Thống kê</div>
  </div>
</section>
<borrow-return-book *ngIf="selectedTab == borrowReturnBookTab"></borrow-return-book>
<book-management *ngIf="selectedTab == bookManagementTab"></book-management>
<category-management *ngIf="selectedTab == categoryTab"></category-management>
<publisher-management *ngIf="selectedTab == publisherManagementTab"></publisher-management>
<supplier-management *ngIf="selectedTab == supplierManagementTab"></supplier-management>
<library-management *ngIf="selectedTab == libraryManagementTab"></library-management>
<report *ngIf="selectedTab == reportTab"></report>
