<section class="padding-15 color-background-white">
  <div class="flex-space-between-center">
    <span class="padding-right-15">Mã sách/ Tên sách</span>
    <span id="search-book">
      <input type="text" id="search-book-box" (keypress)="onKeyPress($event)" placeholder="B000000001">
      <i class="icon icon-search" (click)="getListBook(1, defaultItemsPerPage)"></i>
    </span>
    <span class="flex-grow-1 text-align-right">
      <button class="btn btn-blue" (click)="addNewBook()">Thêm sách</button>
    </span>
  </div>
  <div class="margin-top-20">
    <table class="table table-striped table-row-select margin-top-20">
      <thead>
        <tr>
          <th>Mã sách</th>
          <th>Tên sách</th>
          <th>Tác giả</th>
          <th>Danh mục</th>
          <th>Loại</th>
          <th>Nơi lưu trữ</th>
          <th class="text-align-center">Tồn/ Số lượng (cuốn)</th>
          <th class="text-align-center">Ngày nhập</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of listBooks?.items | paginate : { itemsPerPage: defaultItemsPerPage, currentPage: currentPage, totalItems: listBooks?.totalCount };"
          (click)="editBook(book)">
          <td>{{book.bookCode}}</td>
          <td>{{book.bookName}}</td>
          <td>{{book.author}}</td>
          <td>{{book.categoryName}}</td>
          <td>{{book.categoryType}}</td>
          <td>{{book.libraryName}}</td>
          <td class="text-align-center">{{book.amountAvailable}}/ {{book.amount}}</td>
          <td class="text-align-center">{{parseDateToString(book.dateImport)}}</td>
        </tr>
      </tbody>
    </table>
    <pagination [type]="'sách'" [totalCount]="listBooks?.totalCount" [currentPageIndex]="currentPage" [itemsPerPage]="defaultItemsPerPage"
      (onPageChangeEvent)="getListBook($event, defaultItemsPerPage)" (onItemsPerPageChangeEvent)="getListBook(1, $event)"></pagination>
  </div>
  <div *ngIf="listBooks?.totalCount == 0 && code != ''">
    Không có dữ liệu
  </div>
</section>
