<section>
  <div class="header">
    <div class="padding-15 flex-space-between-center">
      <div class="logo" (click)="navigateToHome()">
        <span class="letter" data-letter="T">T</span>
        <span class="letter" data-letter="H">H</span>
        <span class="letter" data-letter="Ư">Ư</span>
        <span class="letter margin-left-10" data-letter="V">V</span>
        <span class="letter" data-letter="I">I</span>
        <span class="letter" data-letter="Ệ">Ệ</span>
        <span class="letter" data-letter="N">N</span>
      </div>
      <div class="search-form">
        <input class="form-control" type="text" name="search-box" id="search-box" (keypress)="onKeyPress($event)" placeholder="Tên sách, Thể loại, Tác giả, ...">
        <div class="search-label" (click)="searchBook()">
          <i class="icon icon-search"></i>
          <span>Tìm kiếm</span>
        </div>
      </div>
      <div class="user-control">
        <div class="user-book-tracking" *ngIf="!isAdmin" (click)="viewMyBook()">
          <i class="icon icon-books color-blue"></i>
          <div class="">
            <div class="font-size-sm">Tình trạng sách</div>
            <div class="font-size-xs">của tôi</div>
          </div>
        </div>
        <div class="user-book-tracking" *ngIf="isAdmin" (click)="this.routerService.admin()">
          <i class="icon icon-id-card color-blue"></i>
          <div class="">
            <div class="font-size-sm">Quản lý</div>
            <div class="font-size-xs">hệ thống</div>
          </div>
        </div>
        <div class="user-notify" (click)="viewMenuNotify()">
          <i class="icon icon-email-black color-blue"></i>
          <span class="number-notification" *ngIf="numberNewNotification > 0">{{numberNewNotification}}</span>
          <div>
            <div class="font-size-sm">Tin nhắn</div>
            <div class="font-size-xs">của tôi</div>
          </div>
          <div class="menu-notify menu" [class.show]="toggleMenuNotify">
            <div *ngFor="let notifi of listNotification">
              {{notifi.message}}
            </div>
            <div class="text-align-center font-size-sm" (click)="this.routerService.notification()">
              <a>
                Xem tất cả thông báo
              </a>
            </div>
          </div>
        </div>
        <div class="user-login" (click)="viewMenuLogin()">
          <i class="icon icon-person color-blue"></i>
          <div>
            <div class="font-size-sm">{{ user == null ? 'Đăng nhập' : 'Chào, ' + user.firstName }}</div>
            <div class="font-size-xs">Tài khoản</div>
          </div>
          <div class="menu-login menu" [class.show]="toggleMenuLogin">
            <div>
              <div *ngIf="isAdmin" (click)="viewMyBook()">Tình trạng sách của tôi</div>
              <div (click)="logout($event)">Đăng xuất</div>
            </div>
          </div>
        </div>
        <div class="book-in-cart" (click)="viewBookInCart()">
          <i class="icon icon-shopping-basket"></i>
          <span class="padding-left-right-5">Giỏ sách</span>
          <span class="number-of-choose">{{numberBookInCart}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-20">
    <router-outlet></router-outlet>
  </div>
</section>
<loading-page></loading-page>
<div id="overlay" hidden></div>
