.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-none {
  display: none !important;
}

.display-table-cell {
  display: table-cell;
}

.display-grid {
  display: grid;
}

.display-height-100 {
  height: 100%
}
