admin {
  .tab-section {
    background: $white;
    padding: 15px;
    display: flex;
    align-content: center;
    >div {
      margin-right: 15px;
      padding-bottom: 5px;
      cursor: pointer;
      &.active,
      &:hover {
        border-bottom: 5px solid $blue;
        font-weight: 600;
      }
    }
  }
}
