book-view {
  .block-book-item {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    .book-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 15px;
      border: 1px solid transparent;
      background: $white;
      width: 100%;
      max-width: calc(100% / 5);
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      }
      favorite-star {
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .image {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-content: center;
        min-height: 310px;
        max-height: 310px;
        >div {
          width: 60%;
          display: flex;
          justify-content: center;
          align-content: center;
          book-image {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .book-name {
        font-size: $font-size-sm;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          color: $blue;
        }
      }
      .add-to-cart {
        @include add-to-cart();
      }
    }
  }
  .no-result {
    background-color: $white;
    color: $yellow;
    padding: 15px;
    border: 1px solid $yellow;
    border-radius: 4px;
    margin-top: 20px;
  }
}
