book-detail {
  .book-tag {
    display: flex;
    align-content: center;
  }
  ngx-qrcode {
    .qrcode {
      img {
        height: 85px;
        width: 85px;
      }
    }
  }
  #section-detail {
    border-top: 1px solid $border-color;
    padding-top: 15px;
    table {
      tr {
        td {
          &:first-child {
            background: $gray-200;
            font-weight: 500;
            max-width: 250px;
            width: 220px;
          }
        }
      }
    }
  }
}
