<table>
  <thead>
    <tr>
      <th class="color-orange">Su</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td class="day-input" *ngFor="let dayObj of row.listDays" [ngClass]="{'disabled': dayObj.disabled, 
      'selected': dayObj.day == daySelected && dayObj.month == monthSelected && dayObj.year == yearSelected,
      'range-out': dayObj.rangeOut}" (click)="selectDay(dayObj)">{{dayObj.day}}</td>
    </tr>
  </tbody>
</table>
